{% extends 'base.html' %}
{% block content %}
<h1>Contenuti visibili all'ente</h1>

  <div class="visibili-card">
    <div class="visibili-card-header">
      <h3>Schede Scuola</h3>
    </div>
    
    <ul>
      {% for s in scuole %}
        {% if s.nome %}
          <li>
            <a href="{% url 'scuola_detail' s.pk %}" class="visibili-link">
              {{ s.nome }} </a>
          </li>
        {% endif %}
      {% empty %}
        <li class="text-muted">Nessuna scuola disponibile.</li>
      {% endfor %}
    </ul>
  </div>

<a href="{% url 'ente_hub' %}" class="btn back-btn">← Torna indietro</a>
{% endblock %}