{% extends 'base.html' %}
{% block content %}
<div class="page-form">
  
  <h1>Le scuole</h1>
  <p class="page-subtitle">Schede Scuola</p>

  <div class="card form-card-custom">
    
    <div class="custom-list-group">
      {% for s in scuole %}
        {% if s.nome %}
          <a href="{% url 'scuola_detail' s.pk %}" class="list-item-bar">
            <div class="list-item-title-wrapper">
              <span class="list-item-name">{{ s.nome }}</span>
            </div>
          </a>
        {% endif %}
      {% empty %}
        <p class="text-muted">Nessuna scuola disponibile.</p>
      {% endfor %}
    </div>

    <div class="btn-row custom-form-buttons">
      <a href="{% url 'ente_hub' %}" class="btn back-btn">← Torna indietro</a>
    </div>

  </div>
</div>
{% endblock %}