{% extends 'base.html' %}
{% block content %}
<div class="page-form">
  <h1>I dati del mio Ente</h1>

  <form method="post" class="card form-card-custom">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group-flex">
      <label class="form-label">{{ field.label }}</label>
      <div class="form-input-wrapper">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    
    <div class="btn-row custom-form-buttons">
      <button class="btn" type="submit">Salva</button>
      <a class="btn back-btn" href="{% url 'ente_hub' %}">Annulla</a>
    </div>
  </form>
</div>
{% endblock %}
