{% extends 'base.html' %}

{% block content %}
<div class="page-form">
  
  <h1>Elimina azienda</h1>

  <form method="post" class="card form-card-custom">
    {% csrf_token %}
    
    <p class="confirm-text">
      Sei sicuro di voler eliminare l'azienda <br><strong>"{{ azienda.nome }}"</strong>?
    </p>

    <div class="btn-row custom-form-buttons-center">
      <button type="submit" class="btn btn-danger-custom">Conferma eliminazione</button>
      <a href="{% url 'ente_aziende_list' %}" class="btn back-btn">Annulla</a>
    </div>
  </form>

</div>
{% endblock %}