{% extends 'base.html' %}

{% block content %}
<div class="page-form">
  
  <h1>Inserisci scheda azienda</h1>

  {% if form.errors %}
  <div class="alert alert-danger custom-form-errors">
    <strong>Per favore, correggi i seguenti errori:</strong>
  </div>
  {% endif %}

  <form method="post" class="card form-card-custom" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group-flex">
      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="form-input-wrapper">
        {{ field }}
        
        {% if field.errors %}
          <div class="field-error-text">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    
    <div class="btn-row custom-form-buttons">
      <button class="btn" type="submit">Salva</button>
      <a class="btn back-btn" href="{% url 'ente_aziende_list' %}">Annulla senza salvare</a>
    </div>
  </form>
</div>
{% endblock %}