{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="landing-header">

  <div class="logo">
      <img src="{% static 'assets/img/logo_asso_testo.png' %}" alt="ASSO">
  </div>

  <p class="intro-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

</div>

<div class="landing-grid">

  <a class="card" href="{% url 'scuole_public' %}">
    <h3>Le scuole</h3>
    <p class="small">Elenco dinamico</p>
  </a>

  <a class="card" href="{% url 'aziende_public' %}">
    <h3>Le aziende</h3>
    <p class="small">Elenco dinamico</p>
  </a>

  <a class="card" href="{% url 'chisiamo' %}">
    <h3>Chi siamo</h3>
    <p class="small">Testo e loghi</p>
  </a>

  <a class="card" href="{% url 'faq' %}">
    <h3>FAQ</h3>
    <p class="small">Domande frequenti</p>
  </a>
</div>
{% endblock %}

