{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-form">
  
  <h1>Log In / Registrazione</h1>
  <p class="page-subtitle" style="margin-bottom: 30px;">Seleziona come desideri accedere o registrarti alla piattaforma</p>

  <div class="grid grid2">

    <a class="card_block" href="{% url 'login' %}?next=/accounts/post-login">
      <div class="card">
        <h3>Come Scuola</h3>
        <div class="small muted">Accedi al pannello della tua scuola</div>
      </div>
    </a>

    <a class="card_block" href="{% url 'login' %}?next=/accounts/post-login">
      <div class="card">
        <h3>Come Ente</h3>
        <div class="small muted">Accedi all'area riservata del tuo Ente</div>
      </div>
    </a>

    <a class="card_block" href="{% url 'signup_scuola_full' %}">
      <div class="card">
        <h3>Registrati come Scuola</h3>
        <div class="small muted">Crea un nuovo account Scuola</div>
      </div>
    </a>

    <a class="card_block" href="{% url 'signup_ente_full' %}">
      <div class="card">
        <h3>Registrati come Ente</h3>
        <div class="small muted">Crea un nuovo account Ente</div>
      </div>
    </a>

  </div>

  <div class="btn-row custom-form-buttons" style="margin-top: 30px;">
    <a href="{% url 'landing' %}" class="btn back-btn">← Torna indietro</a>
  </div>

</div>
{% endblock %}




