{% extends 'base.html' %}
{% block content %}
<h1>Home page scuola</h1>

<div class="grid grid2">

  <!-- Карточка 1: Основные данные школы -->
  <a class="card_block" href="{% url 'scuola_scheda_scuola' %}">
    <div class="card">
      <h3>Scheda scuola</h3>
      <div class="small muted">Inserisci o modifica</div>
    </div>
  </a>

  <!-- Карточка 2: ИЗМЕНЕНО под Макап 16 (Статистика студентов и FSL) -->
  <a class="card_block" href="{% url 'scuola_situazione_studenti' %}">
    <div class="card">
      <h3>Scheda studenti</h3>
      <div class="small muted">Inserisci o modifica</div>
    </div>
  </a>

  <!-- Карточка 3: Список доступных организаций -->
  <a class="card_block" href="{% url 'scuola_visibili' %}">
    <div class="card">
      <h3>Gli enti</h3>
      <div class="small muted">Elenco enti</div>
    </div>
  </a>

  <!-- Карточка 4: Инструкции -->
  <a class="card_block" href="{% url 'scuola_istruzioni' %}">
    <div class="card">
      <h3>Istruzioni</h3>
      <div class="small muted">Guida rapida</div>
    </div>
  </a>
</div>

<a href="{% url 'landing' %}" class="btn back-btn" >← Torna indietro</a>
{% endblock %}