{% extends 'base.html' %}
{% block content %}
<div class="page-form">
  <h1>{{ scuola.nome }}</h1>

  <div class="card form-card-custom">
    
    <div class="form-group-flex">
      <label class="form-label">Codice meccanografico:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.codice_meccanografico|default:'—' }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Email:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.email|default:'—' }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Telefono:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.telefono|default:'—' }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Indirizzo:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.indirizzo|default:'—' }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Numero studenti con certificazione nell'AS:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.numero_studenti_certificati }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Numero FSL da attivare nell'AS:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.numero_fsl_da_attivare }}" readonly>
      </div>
    </div>

    <div class="form-group-flex">
      <label class="form-label">Numero FSL attivati nell'AS:</label>
      <div class="form-input-wrapper">
        <input type="text" class="input" value="{{ scuola.numero_fsl_attivati }}" readonly>
      </div>
    </div>
    
    <div class="btn-row custom-form-buttons">
      <a class="btn back-btn" href="{% url 'ente_hub' %}">← Torna indietro</a>
    </div>
  </div>
</div>
{% endblock %}