{% extends 'base.html' %}
{% block content %}
<div class="page-form">
  
  <h1>Recupera password</h1>

  <form method="post" class="card form-card-custom">
    {% csrf_token %}
    
    <p class="confirm-text">
      Inserisci la tua email per ricevere il link di reimpostazione.
    </p>

    <div class="form-input-sole-wrapper">
      {{ form.email }}
      {% if form.email.errors %}
        <div class="field-error-text">{{ form.email.errors|striptags }}</div>
      {% endif %}
    </div>

    <div class="btn-row custom-form-buttons">
      <button class="btn" type="submit">Invia link</button>
      <a href="{% url 'login' %}" class="btn back-btn">Annulla</a>
    </div>
  </form>

</div>
{% endblock %}