{% extends 'base.html' %}

{% block content %}
<div class="page-form">
  
  <h1>Controlla la tua email</h1>

  <div class="card form-card-custom">
    <p class="confirm-text">
      Ti abbiamo inviato un link per reimpostare la password.<br>
      Se esiste un account associato a questa email, riceverai istruzioni per completare il processo.
    </p>

    <div class="btn-row custom-form-buttons-center">
      <a href="{% url 'login' %}" class="btn back-btn">Torna al login</a>
    </div>
  </div>

</div>
{% endblock %}